*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'h1';
    src: url('Pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'h2';
    src: url('Abel/Abel-Regular.ttf') format('truetype');
}

body{
    background-color: antiquewhite;
}


.landing{
    width: auto;
    height: 100vh;
    background-color:cadetblue;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.landing h1{
    font-family: 'h1';
    color: #FFBC0A;
    font-size: 70pt;
    margin-bottom: 30px;
}

.landing h2{
    margin-bottom: 130px;
    font-family: 'h2';
    color: #E9A25B;
    font-size: 23pt;
}

.landing p{
    font-family: monospace;
    color: antiquewhite;
    font-size: 23pt;
    margin: 0 40px;
}

.window{
    display: block;
    margin: 100px auto;
    margin-bottom: 50px;
    border: solid cadetblue 20px;
    border-radius: 50px;
}

h1{
    font-family: 'h1';
    color: #E9A25B;
    font-size: 45pt;
    text-shadow: 1px solid black;
    text-align: center;
}

.links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

a{
    text-align: center;
    text-decoration: none;
    border: dotted cadetblue 6px;
    border-radius: 50px;
    font-family: 'h2';
    font-size: 20pt;
    padding: 5px 20px;
    margin: 0 auto;
    color: cadetblue;
    transition: 0.5s ease;
}

a:hover{
    color: #E9A25B;
    font-size: 25pt;
    transition: 1s ease;
}

#youtube{
    transition: 1s ease;
}

#youtube:hover{
    width: 800px;
    height: 550px;
    transition: 1s ease;
}

